body{
  background: rgb(221, 185, 103);
  color: rgb(255, 74, 28);
  font-size: 20px;
  font-family: Helvetica;
  margin: 0;
}

h1{
  font-family: Helvetica;
  color: rgb(79, 56, 36);
  font-weight: lighter;
  font-size: 50px;
}

h2 {
  font-family: Helvetica;
  color: rgba(10,10,10);
  font-weight: lighter;
  font-size: 10px;
}

a {
  color: white;

}
a:hover {
  text-decoration: none;
  color: purple;
  
}

/* Custom design */


img {
   text-align: center;
   width: 20px;
	font-size: 70px;
}

.img-big {
   text-align: center;
   width: 50px;
}

#logo {
  witdh: 60px;
}

#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1300/400?random");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

#banner h1 {
  color: white;
  font-size: 60px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 40px;
  font-weight: lighter;
}


  
#footer{
  padding: 50px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

.card {
	text-align: center;
  	padding: 20px;
 	font-size: 35px;
  	font-weight: lighter;
}

.card p {
 	font-size: 25px;
  	font-weight: lighter;
}

.card h2 {
 	font-size: 30px;
  	font-weight: bold;
  	text-align: center;
}


#footer {
	background: grey;
  	color: lightgrey;
  	font-size: 50px;
}
#footer a:hover {
  	color: white;
   font-size: 50px;
}

#footer h2 {
  	font-size: 25px;
}


