body{
  background: rgb(221, 185, 103);
  color: rgb(255, 74, 28);
  font-size: 20px;
  font-family: Helvetica;
  margin: 0;
}

h1{
  font-family: Helvetica;
  color: rgb(79, 56, 36);
  font-weight: lighter;
  font-size: 40px;
}

h2 {
  font-family: Helvetica;
  color: rgba(10,10,10);
  font-weight: lighter;
  font-size: 12px;
}


a {
  color: white;
	
}
a:hover {
  text-decoration: none;
  color: grey;
  font-size: 20px;
}

/* it would be good to make this element best priority */

.row a:hover {
  text-decoration: none;
  color: rgb(255, 79, 33);
  font-size: 14px;
}

.row a {
  text-decoration: none;
  color: rgb(255, 74, 28);
  font-size: 13px;
}

/* Custom design */


img {
   text-align: right;
   width: 20px;
	font-size: 20px;
}

.img-big {
   text-align: right;
   width: 30px;
}

#identite {
	text-align: right;
   width: 100px;
}

#logo {
  witdh: 60px;
}

#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1200/700?random");
  background-size: cover;
  padding: 50px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

#banner h1 {
  color: white;
  font-size: 25px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 19px;
  font-weight: lighter;
}


  
#footer{
  padding: 50px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

.card {
	text-align: center;
  	padding: 20px;
 	font-size: 35px;
  	font-weight: lighter;
}

.card p {
 	font-size: 13px;
  	font-weight: lighter;
}

.cardCV p {
	text-align: left;
	font-size: 13px;
  	font-weight: lighter;
}


.cardCV h2 {
  font-family: Helvetica;
  color: rgba(10,10,10);
  font-weight: lighter;
  font-size: 30px;
}


.cardCV h3 {
  font-family: Helvetica;
  color: rgba(10,10,10);
  font-weight: lighter;
  font-size: 20px;
}

.cardCV img {
  font-size: 70px;
}

.card h2 {
 	font-size: 15px;
  	font-weight: bold;
  	text-align: center;
}


#footer {
	background: grey;
  	color: lightgrey;
  	font-size: 25px;
  	padding: 20px;
}
#footer a:hover {
  	color: white;
   font-size: 28px;
}

#footer h2 {
  	font-size: 18px;
}


